@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
:root {
  --primary-color: #040100d7;
  --secondary-color: rgb(225, 185, 7);
  --terciary-color: #f3f3f3;
  --quaternary-color: #ddd;
  --font-color: rgb(6, 3, 0);
  --btn-register-rover:  #f0c14b;
  --bg-form-color: rgba(230, 216, 178, 0.418);
  --bg-input-color:#fcf4d658;
  --btn-color: rgb(251, 209, 164);
  --btn-login-hover:#321900;
  --box-shadow: rgba(62, 58, 54, 0.604);
  --btn-register-bg: #91845760;
  --btn-plus-less: #f0c14ba7;
} */

/* CARD START */
.card-products {
  background: rgba(83, 66, 48, 0.49);
  border-radius: 0.5em;
  display: inline-table;
  margin: 1rem;
  margin-top: 2em;
  padding: 1em;
}

.card-products:hover {
  transform: scale(1.2);
  transition: 0.7s;
}

span {
  color: #fff;
  font-family: 'Confortaa', cursive;
  font-size: 1.1em;
  font-weight: 700;
}

.card-products-img {
  border-radius: 0.5em;
  height: 7em;
  margin-bottom: 1em;
  margin-left: 1.5em;
  width: 7em;
}

.card-products-img:hover {
  transform: scale(1.5);
  transition: 0.5s;
}

.card-products > label {
  color: var(--btn-login-hover);
  font-family: 'Confortaa', cursive;
  font-weight: 700;
}

.btn-less {
  background: rgba(0, 0, 0, 0.524);
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-family: 'Confortaa', cursive;
  font-size: 1.2em;
  font-weight: 600;
  height: 2.6em;
  margin-top: 1em;
  width: 3.5em;
}

.btn-less:hover {
  background: var(--btn-plus-less);
  color: black;
  transition: 0.5s;
}


.btn-plus {
  background: rgba(0, 0, 0, 0.524);
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-family: 'Confortaa', cursive;
  font-size: 1.2em;
  font-weight: 600;
  height: 2.6em;
  width: 3.5em;
}

.btn-plus:hover {
  background: var(--btn-plus-less);
  color: black;
  transition: 0.5s;
}

.input-quantity {
  background: rgba(189, 179, 167, 0.709);
  border: none;
  height: 3.5em;
  padding: 0.5em;
  width: 4.5em;
}
/* CARD END */
