@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

#checkout {
  height: 469.23px;
  width: 1638px;
  top: 44.19px;
  position: absolute;
  left: 1.6%;
  right: 0.06%;
  top: 12%;
  /* bottom: 0.11%; */
  background: #fbfffe83;
  padding: 30px;
}

#checkout > p {
  height: 65px;
  width: 1599px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #eaf1ef89;
}
