* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}
:root {
  --primary-color: #040100d7;

  --secondary-color: rgb(225, 185, 7);

  --terciary-color: #f3f3f3;

  --quaternary-color: #ddd;

  --font-color: rgb(6, 3, 0);

  --btn-register-rover: #f0c14b;

  --bg-form-color: rgba(230, 216, 178, 0.418);

  --bg-input-color: #fcf4d658;

  --btn-color: rgb(251, 209, 164);

  --btn-login-hover: #321900;

  --box-shadow: rgba(62, 58, 54, 0.604);

  --btn-register-bg: #91845760;
}

/*LOGIN START */
.data-login-form-container {
  background: var(--bg-form-color);
  /* border-radius: 10px; */
  /* box-shadow: 0 0 15px 3px var(--box-shadow); */
  /* padding: 3em; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.login-label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  padding: 30px 35px;
  box-shadow: 0px 10px 40px #00000056;
  border-radius: 20px;
  margin-bottom: 10px;
}

.login-label > span {
  font-size: 1.9em;
  margin-bottom: 5px;
}

.login-label > input {
  width: 100%;
  background: var(--bg-input-color);
  border: none;
  border-radius: 5px;
  color: #171001;
  font-weight: 700;
  height: 4em;
  margin-bottom: 1em;
  padding: 1em;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
}

.login-button {
  width: 100%;
  background: #120b00;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0px 10px 40px 7px #ffd90052;
  color: var(--btn-color);
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 700;
  height: 3em;
  margin-bottom: 10px;
  margin-top: 1em;
  text-transform: uppercase;
  padding: 16px 0px;
  letter-spacing: 3px;
}

.login-button:hover {
  background: #fbc903;
  opacity: 0.8;
  color: #120b00;
  transition: 0.5s;
}

.register-button {
  background: #120b00;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 0 15px 3px var(--box-shadow);
  color: rgb(238, 210, 132);
  /* color: var(--font-color); */
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 3em;
  margin-top: 10px;
  letter-spacing: 1.5px;
}

.register-button:hover {
  background: #fbc903;
  color: #120b00;
  transition: 0.5s;
  font-size: 1.2em;
}

/* LOGIN END */

/* LOGO START */
.logo {
  border-radius:10%;
  box-shadow: 0 0 15px 3px var(--box-shadow);
  display: flex;
  margin: auto;
  margin-bottom: 1em;
  width: 13vw;
  margin-right: 5em;
}

/* .main-logo {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  text-align: center;
} */

.right-logo {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  text-align: center;
  font-size: 0.8em;
  margin-right: 6em;
}

@media screen and (max-width: 768px) {
  .data-login-form-container {
    width: 100%;
  }
}

/* LOGO END */
