@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  border: 1px solid black;
  color: #fff;
  font-family: 'Confortaa', cursive;
  font-weight: 700;
  padding: 10px;
}

.nav-bar {
  align-items: center;
  display: flex;
  font-family: 'Confortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  justify-content: space-between;
  margin: 0;
}

.nav-bar-box {
  align-items: center;
  display: flex;
  font-family: 'Confortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  justify-content: space-between;
  margin: 0;
}

.nav-bar-box .products {
  color: #fff;
  font-family: 'Confortaa', cursive;
  font-weight: 700;
  margin: 0 10px;
  padding: 10px;
  text-decoration: none;
}

.nav-bar-box .orders {
  color: #fff;
  font-family: 'Confortaa', cursive;
  font-weight: 700;
  margin: 0 10px;
  text-decoration: none;
}

/* LINK PRODUTOS */
.nav-products {
  align-items: center;
  background: #574c40;
  color: #fff;
  display: flex;
  font-family: 'Confortaa', cursive;
  font-weight: 700;
  height: 7vh;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}

/* LINK MEUS PEDIDOS */

.btn-link > button {
  background: var(--btn-register-rover);
  border: none;
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
  padding: 0.5em;
}
