@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}

.nav-bar {
  width: 1920px;
  height: 105px;
  position: absolute;
  height: 105px;
  left: 0%;
  right: 0%;
  top: 0.01px;
}

.nav-bar-box-name > p {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-family: 'Comfortaa', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
}

/* .nav-bar-box {
  display: flex;
  font-weight: 700;
  justify-content: center;
  margin: 0;
} */

/* LINK PRODUTOS */
.nav-products {
  width: 367px;
  height: 105px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: gray;
}

.nav-orders {
  width: 1920px;
  position: absolute;
  height: 105px;
  left: 0%;
  right: 0%;
  top: 0.01px;
  background: green;
}

/* .nav-bar-box-name > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18pt;
  font-weight: 700;
  text-decoration: none;
  padding: 1.5em;
} */

/* LINK MEUS PEDIDOS */

.nav-bar-box-name > a > button {
  width: 180px;
  height: 104px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
